.data-table-row {
    background: #fff;
    cursor: pointer;
}

.data-table-row:hover {
    background: var(--button-hover-color);
}

.data-table-row:active {
    background: var(--button-active-color);
}

.data-table-row__cell {
    padding: var(--table-cell-gutter);
}
