:root {
    --table-row-background: #fff;
    --table-row-hover-background: #b9b9e5;
    --table-row-active-background: #adadd8;
    --table-cell-gutter: 10px;
}

.data-table-row {
    background: var(--table-row-background);
    cursor: pointer;
}

.data-table-row:hover {
    background: var(--table-row-hover-background);
}

.data-table-row:active {
    background: var(--table-row-active-background);
}

.data-table-row__cell {
    padding: var(--table-cell-gutter);
}
